html, 
body,
.app-container {
    height: 100%;
    width: 100%;
}

.app-container {
    overflow: hidden;
}

.header {
    background: red;
    color: white;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.25); */
    height: 10%;
    padding-left: 1em;
}

.main-container {
    height: 90%;
}

.left-nav {
    height: 100%;
}

.left-nav__projects-container {
    background: grey;
    color: white;
    overflow: hidden;

}

#subview-container {
    height: 100%;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.25);
}

/* item pills */

.item-pills-group {
    margin-left: 0;
    padding-inline-start: 0;
}

.item-pill {
    border: solid 1px grey;
    border-radius: 8px;
}

.item-pill__mark-complete-btn {
    aspect-ratio: 1;
    margin: 0 1em;
}

.item-pill__text-container {
    margin: 1em 0;
}
.item-pill__title {
    margin-bottom: 0;
}

.item-pill__details > * {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
}

.item-pill__details .svg-inline--fa {
    color: grey;
}

.item-pill__date,
.item-pill__priority {
    margin-left: 2px;
}

.empty-container-placeholder {
    margin: 2em;
    color: grey;
}


/* project list */

.projects-list__project {
    /* padding: 0.5em; */
}

.projects-list__project-header {
    background: grey;
    border-bottom: solid 1px white;
}

.projects-list__project-title,
.projects-list__toggle-btn,
.items-list__button {
    background: inherit;
    border: none;
    color: white;
}

.items-list {
    list-style-type: none;
    padding-inline-start: 0px;
}
/*
.items-list li:before {
    content: "\02EA";
}*/

.items-list__item {
    background: #9d9d9d;
    padding: 0.2em 10%;
    width: 100%;
    border-bottom: solid 1px white;
    position: relative;
}

.items-list__item::before {
    content: "";
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    position: absolute;
    left: -100%;
}

/* ProjectView */

.project__header {
    position: relative;
}

.project__controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

/* Item Detailed View */

.notes-header {
    margin-top: 20px;
}

.note {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px black;

}

/* Calendar Styles */

.calendar__header-row {
    display: flex;
    justify-content: flex-start;
    color: red;
    border: solid 1px grey
    /* box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25); */
}

.calendar__header-col {
    border-right: solid 1px grey;
    text-align: center;
}

.calendar__header-col:last-child {
    border-right: none;
}

.calendar__row {
    height: 125px;
    color: grey;
    border-bottom: solid 1px grey;
}

.calendar__col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    border-left: solid 1px grey;
}

.calendar__col--today .calendar__cell-header {
    background-color: red;
    color: white;
}

.calendar__col--empty {
    background: #EEE;
}

.calendar__col:last-child {
    border-right: solid 1px grey;
}

.calendar__cell-header {
    border-bottom: solid 1px grey;
    text-align: center;
}

.calendar__see-more {
    font-size: 8px;
}

.calendar__item-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.calendar__item {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1px; 
    text-overflow: ellipsis;
    border: solid 1px red;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding-left: 1em;
    cursor: pointer;
}

.description-container {
    margin: 2em 0;
}
.model-description {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-height: 3em;
    padding: 0.75em;
}

.model-description--empty {
    color: grey;
    min-height: 0px;
    box-shadow: none;
}

.modal-header--todo-app {
    background: red;
    color: white;
}

.pop-up__description-text {
    min-height: 3em;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0.5em;

    max-height: 200px;
    white-space: nowrap;
    overflow-y: scroll;
}